/* Coolors Exported Palette - https://coolors.co/1961a5-011f44-d0ccd0-f25f5c-f5e663 */

/* CSS HEX */
--lapis-lazuli: #1961a5ff;
--oxford-blue: #011f44ff;
--light-gray: #d0ccd0ff;
--orange-red-crayola: #f25f5cff;
--corn: #f5e663ff;

/* CSS HSL */
--lapis-lazuli: hsla(209, 74%, 37%, 1);
--oxford-blue: hsla(213, 97%, 14%, 1);
--light-gray: hsla(300, 4%, 81%, 1);
--orange-red-crayola: hsla(1, 85%, 65%, 1);
--corn: hsla(54, 88%, 67%, 1);

/* SCSS HEX */
$lapis-lazuli: #1961a5ff;
$oxford-blue: #011f44ff;
$light-gray: #d0ccd0ff;
$orange-red-crayola: #f25f5cff;
$corn: #f5e663ff;

/* SCSS HSL */
$lapis-lazuli: hsla(209, 74%, 37%, 1);
$oxford-blue: hsla(213, 97%, 14%, 1);
$light-gray: hsla(300, 4%, 81%, 1);
$orange-red-crayola: hsla(1, 85%, 65%, 1);
$corn: hsla(54, 88%, 67%, 1);

/* SCSS RGB */
$lapis-lazuli: rgba(25, 97, 165, 1);
$oxford-blue: rgba(1, 31, 68, 1);
$light-gray: rgba(208, 204, 208, 1);
$orange-red-crayola: rgba(242, 95, 92, 1);
$corn: rgba(245, 230, 99, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #1961a5ff, #011f44ff, #d0ccd0ff, #f25f5cff, #f5e663ff);
$gradient-right: linear-gradient(90deg, #1961a5ff, #011f44ff, #d0ccd0ff, #f25f5cff, #f5e663ff);
$gradient-bottom: linear-gradient(180deg, #1961a5ff, #011f44ff, #d0ccd0ff, #f25f5cff, #f5e663ff);
$gradient-left: linear-gradient(270deg, #1961a5ff, #011f44ff, #d0ccd0ff, #f25f5cff, #f5e663ff);
$gradient-top-right: linear-gradient(45deg, #1961a5ff, #011f44ff, #d0ccd0ff, #f25f5cff, #f5e663ff);
$gradient-bottom-right: linear-gradient(135deg, #1961a5ff, #011f44ff, #d0ccd0ff, #f25f5cff, #f5e663ff);
$gradient-top-left: linear-gradient(225deg, #1961a5ff, #011f44ff, #d0ccd0ff, #f25f5cff, #f5e663ff);
$gradient-bottom-left: linear-gradient(315deg, #1961a5ff, #011f44ff, #d0ccd0ff, #f25f5cff, #f5e663ff);
$gradient-radial: radial-gradient(#1961a5ff, #011f44ff, #d0ccd0ff, #f25f5cff, #f5e663ff);